/*!
 * Font Icona 1.0 - https://fonticona.com
 * License - https://fonticona.com/license/
 * Copyright 2022 FontIcona.com
 */
$icona-font-family: "Font Icona" !default;
$icona-font-path: "fonts" !default;

$fi-a-letter-lowercase: "\e9c6";
$fi-a-letter-uppercase: "\e9c7";
$fi-a-letters: "\e95d";
$fi-accessible: "\e900";
$fi-accusoft-logo: "\e9d0";
$fi-add-circle: "\e901";
$fi-add-circle-above: "\e902";
$fi-add-circle-after: "\e903";
$fi-add-circle-before: "\e904";
$fi-add-circle-bellow: "\e905";
$fi-address-book: "\e907";
$fi-address-card: "\e906";
$fi-adn-logo: "\e9d1";
$fi-adobe-logo: "\e9d2";
$fi-adversal-logo: "\e9da";
$fi-air-balloon: "\e9db";
$fi-air-conditioner: "\e908";
$fi-air-freshener: "\e909";
$fi-airbnb-logo: "\e9dc";
$fi-alarm-clock: "\e90a";
$fi-algolia-logo: "\ea3f";
$fi-ali-pay: "\ea40";
$fi-align-center: "\e90b";
$fi-align-justify: "\e90c";
$fi-align-left: "\e90d";
$fi-align-none: "\e90e";
$fi-align-right: "\e90f";
$fi-amazon-logo: "\e911";
$fi-amazon-pay: "\ea41";
$fi-ambulance: "\e912";
$fi-amex-logo: "\ea42";
$fi-anchor-ship: "\ea43";
$fi-androgyne-sign: "\ea72";
$fi-android-logo: "\ea73";
$fi-angellist-logo: "\ea74";
$fi-angular-logo: "\ea75";
$fi-ankh-cross: "\eaa5";
$fi-app-store-ios-logo: "\eaa6";
$fi-app-store-logo: "\eaa7";
$fi-apple-fruit: "\e913";
$fi-apple-logo: "\e95e";
$fi-apple-pay: "\eaa8";
$fi-arc: "\eaa9";
$fi-archway: "\eaaa";
$fi-arrow-clone: "\eaab";
$fi-arrow-down: "\e914";
$fi-arrow-down-from-line: "\e915";
$fi-arrow-down-left: "\e925";
$fi-arrow-down-right: "\e926";
$fi-arrow-down-to-line: "\e916";
$fi-arrow-for-bow: "\e917";
$fi-arrow-indent: "\e918";
$fi-arrow-left: "\e919";
$fi-arrow-left-from-bracket: "\e91a";
$fi-arrow-left-from-line: "\e91b";
$fi-arrow-left-to-bracket: "\ec77";
$fi-arrow-left-to-line: "\e91c";
$fi-arrow-left-up: "\e928";
$fi-arrow-outdent: "\e91d";
$fi-arrow-right: "\e91e";
$fi-arrow-right-down: "\e924";
$fi-arrow-right-from-bracket: "\ec78";
$fi-arrow-right-from-line: "\e91f";
$fi-arrow-right-to-bracket: "\ec79";
$fi-arrow-right-to-line: "\e920";
$fi-arrow-rotate-left: "\e921";
$fi-arrow-rotate-right: "\e922";
$fi-arrow-turn-down: "\e923";
$fi-arrow-turn-up: "\e927";
$fi-arrow-turn-up-left: "\e929";
$fi-arrow-turn-up-right: "\e92a";
$fi-arrow-up: "\e92b";
$fi-arrow-up-from-line: "\e92c";
$fi-arrow-up-right-from-square: "\e92d";
$fi-arrow-up-to-line: "\e92e";
$fi-arrows-crossed-expand: "\e92f";
$fi-arrows-expand: "\e930";
$fi-arrows-repeat: "\e931";
$fi-arrows-transfer-right-left: "\e932";
$fi-arrows-up-down-left-right: "\e933";
$fi-artist-head: "\eaac";
$fi-artstation-logo: "\eab9";
$fi-assistive-listening-system: "\e934";
$fi-asterisk: "\eaba";
$fi-at: "\e935";
$fi-atlas-book: "\eabb";
$fi-atlassian-logo: "\eabc";
$fi-atom: "\e936";
$fi-audible-logo: "\eacc";
$fi-audio-description: "\e937";
$fi-autoprefixer-logo: "\eacf";
$fi-avianex-logo: "\ead0";
$fi-award: "\e938";
$fi-aws-logo: "\ead1";
$fi-axe: "\e939";
$fi-b-letter-lowercase: "\ead2";
$fi-b-letter-uppercase: "\ead3";
$fi-baby: "\ead4";
$fi-baby-carriage: "\ead5";
$fi-backpack: "\e93a";
$fi-backpain: "\e93b";
$fi-backward: "\e93c";
$fi-backward-fast: "\e93d";
$fi-bacon: "\e93e";
$fi-bacteria-microscope: "\e93f";
$fi-band-aid: "\e941";
$fi-bandcamp-logo: "\ead6";
$fi-bang: "\e942";
$fi-barcode: "\e943";
$fi-bars: "\e944";
$fi-bars-staggered: "\e945";
$fi-baseball: "\e946";
$fi-basketball: "\e947";
$fi-bathtub: "\e948";
$fi-battery-empty: "\e949";
$fi-battery-full: "\e94a";
$fi-battery-half: "\e94b";
$fi-battery-low: "\e94c";
$fi-bbpress-logo: "\e94d";
$fi-beaver: "\e94e";
$fi-bed-front: "\e94f";
$fi-bee: "\e950";
$fi-beer-mug: "\e951";
$fi-behance-logo: "\ead7";
$fi-behance-square-logo: "\eaf8";
$fi-bell: "\e952";
$fi-bell-slash: "\e953";
$fi-bezier-curve: "\eaf9";
$fi-bi-gender-sign: "\e95a";
$fi-bible-book: "\eb0f";
$fi-biceps-flex: "\e954";
$fi-bicycle: "\e955";
$fi-binoculars: "\e956";
$fi-biohazard-sign: "\eb11";
$fi-bird-kiwi: "\e957";
$fi-birthday-balloons: "\e958";
$fi-birthday-cake: "\e959";
$fi-birthday-candles: "\e961";
$fi-bisexual-sign: "\eb12";
$fi-bishop-chess: "\e9b4";
$fi-bitbucket-logo: "\eb13";
$fi-bitcoin-logo: "\e962";
$fi-blackberry-logo: "\ebcb";
$fi-blender: "\e963";
$fi-blogger-logo: "\ebcc";
$fi-blogger-square-logo: "\ebcd";
$fi-blueprint-empty: "\e964";
$fi-bold: "\e965";
$fi-bolt: "\ebce";
$fi-bomb: "\e966";
$fi-bone: "\e967";
$fi-bone-break: "\e968";
$fi-bong: "\e969";
$fi-book-bookmark: "\e96a";
$fi-book-open: "\e96b";
$fi-boom-box: "\ebcf";
$fi-boot: "\e96c";
$fi-bootstrap-logo: "\ebd0";
$fi-border-all: "\e96d";
$fi-bottle: "\e96e";
$fi-bottle-milk: "\e96f";
$fi-bow-arrow: "\e970";
$fi-bowl-chopsticks: "\e971";
$fi-bowl-rice-chopsticks: "\e972";
$fi-bowling-ball: "\e974";
$fi-bowling-pin: "\e973";
$fi-boxing-glove: "\e975";
$fi-bra: "\e976";
$fi-bracket-curly-checkmark: "\e977";
$fi-braille: "\e978";
$fi-brain: "\e979";
$fi-bread-slice: "\e97a";
$fi-bread-toaster: "\e97b";
$fi-brick-wall: "\e97c";
$fi-broadcast-tower: "\e97d";
$fi-broom: "\e97e";
$fi-browser: "\e97f";
$fi-brush: "\e980";
$fi-bucket: "\e982";
$fi-buddypress-logo: "\e983";
$fi-buffer-logo: "\ebd3";
$fi-bug: "\e984";
$fi-building: "\e985";
$fi-building-columns: "\e986";
$fi-bullhorn: "\e988";
$fi-bullseye: "\e989";
$fi-burger-cheese: "\e98a";
$fi-bus: "\e98b";
$fi-buysellads-logo: "\ebd4";
$fi-c-letter-lowercase: "\ebd5";
$fi-c-letter-uppercase: "\ec3b";
$fi-cake-candles: "\e98c";
$fi-cake-slice: "\e98d";
$fi-calculator: "\e98e";
$fi-calendar-clock: "\e98f";
$fi-calendar-days: "\e990";
$fi-camera-retro: "\e991";
$fi-camera-shutter-aperture: "\ec3c";
$fi-camera-web: "\e992";
$fi-can-food-open: "\e993";
$fi-canadian-maple-leaf: "\ec7a";
$fi-candle-holder-five-arms: "\ec7b";
$fi-candy: "\e994";
$fi-canvas-chevalet: "\e995";
$fi-cap: "\e996";
$fi-capsules: "\e997";
$fi-car: "\e998";
$fi-car-battery: "\e999";
$fi-car-crash: "\e99a";
$fi-car-side: "\e99b";
$fi-car-taxi: "\ec7c";
$fi-cards: "\e99c";
$fi-caret-down: "\e99d";
$fi-caret-left: "\e99e";
$fi-caret-left-caret-right: "\e99f";
$fi-caret-left-caret-right-from-line: "\e9a0";
$fi-caret-right: "\e9a1";
$fi-caret-up: "\e9a2";
$fi-caret-up-caret-down: "\e9a3";
$fi-caret-up-caret-down-from-line: "\e9a4";
$fi-caret-up-from-line: "\e9a5";
$fi-carpet: "\e9a6";
$fi-carrot: "\e9a7";
$fi-cart-arrow-down: "\ec7d";
$fi-cart-arrow-up: "\ec7e";
$fi-cart-checkmark: "\ec7f";
$fi-cart-empty: "\ec80";
$fi-cart-minus: "\ec81";
$fi-cart-plus: "\ec82";
$fi-cart-shopping: "\e9a8";
$fi-cassette-tape: "\ec83";
$fi-cat: "\e9a9";
$fi-cc-amazon-pay: "\ec84";
$fi-cc-amex: "\ec85";
$fi-cc-apple-pay: "\ec86";
$fi-cc-diners-club: "\ec87";
$fi-cc-discover: "\ec88";
$fi-cc-mastercard: "\ec89";
$fi-cc-paypal: "\ec8a";
$fi-cc-stripe: "\ec8b";
$fi-cc-visa: "\ec8c";
$fi-centercode-logo: "\ec8d";
$fi-chair: "\e9aa";
$fi-chalkboard-teacher: "\ec8e";
$fi-charging-station: "\e9ab";
$fi-charity-box: "\e9ac";
$fi-chart-area-line-with-circles: "\e9ad";
$fi-chart-bar: "\e9ae";
$fi-chart-line-with-circles: "\e9af";
$fi-chart-pie: "\e9b0";
$fi-checkmark: "\e9b1";
$fi-chef-hat: "\e9b2";
$fi-cheque: "\e9b3";
$fi-christian-cross: "\ec8f";
$fi-chromecast-logo: "\ec90";
$fi-church: "\e9ba";
$fi-circle: "\e9bb";
$fi-circle-info: "\e9bc";
$fi-circle-radiation: "\e9bd";
$fi-circle-x-mark: "\e9be";
$fi-circles: "\e9bf";
$fi-circles-venn-diagram: "\ec91";
$fi-circular-saw: "\e9c0";
$fi-city-building: "\e9c1";
$fi-clipboard: "\e9c2";
$fi-clipboard-list: "\e9c3";
$fi-clipboard-plus: "\e9c4";
$fi-clipboard-text: "\e9c8";
$fi-clipboard-word: "\e9c9";
$fi-clock: "\e9ca";
$fi-closed-captioning: "\e9cb";
$fi-cloud: "\e9cc";
$fi-cloud-arrow-up: "\e9cd";
$fi-cloud-checkmark: "\e9ce";
$fi-cloud-co2: "\e9cf";
$fi-cloud-cog: "\e9d3";
$fi-cloud-hashtag: "\e9d4";
$fi-cloud-moon: "\ec92";
$fi-cloud-moon-rain: "\ec93";
$fi-cloud-rain: "\ec94";
$fi-cloud-showers-heavy: "\ec95";
$fi-cloud-smog: "\ec96";
$fi-cloud-snow: "\ec97";
$fi-cloud-sun: "\e9d5";
$fi-cloud-sun-rain: "\ec98";
$fi-cloud-wind: "\e9d6";
$fi-cmyk-letters-circles: "\ec99";
$fi-code: "\e9d7";
$fi-code-branch: "\e9d8";
$fi-code-error: "\e9d9";
$fi-codepen-logo: "\ec9a";
$fi-coin: "\e9de";
$fi-coin-side: "\e9df";
$fi-color-picker: "\ec9b";
$fi-columns-3: "\e9e0";
$fi-comment-captions: "\ec72";
$fi-comment-dots: "\e9e2";
$fi-comment-lines: "\ec73";
$fi-comment-plus: "\ec74";
$fi-comment-star: "\e9e4";
$fi-comment-x-mark: "\ec75";
$fi-comments-lines: "\e9e6";
$fi-compact-disc: "\ec9c";
$fi-compass: "\e9e7";
$fi-compress-arrows: "\e9e8";
$fi-computer-graphics-card: "\e9e9";
$fi-computer-memory: "\e9ea";
$fi-computer-motherboard: "\e9eb";
$fi-computer-mouse: "\e9ec";
$fi-computer-power-supply: "\e9ed";
$fi-computer-speakers: "\e9ee";
$fi-concierge-bell: "\ec9d";
$fi-cone: "\e9ef";
$fi-confluence-logo: "\ec9e";
$fi-contao-logo: "\ec9f";
$fi-cookie: "\e9f0";
$fi-copyright-sign: "\e9f1";
$fi-couch: "\e9f2";
$fi-cpanel-logo: "\eca0";
$fi-crane: "\e9f3";
$fi-creative-commons: "\eca1";
$fi-creative-commons-by: "\eca2";
$fi-creative-commons-nc-eu: "\eca3";
$fi-creative-commons-nc-jp: "\eca4";
$fi-creative-commons-nd: "\eca5";
$fi-creative-commons-pd: "\eca7";
$fi-creative-commons-pd-slash: "\eca6";
$fi-creative-commons-remix: "\eca8";
$fi-creative-commons-sa: "\eca9";
$fi-creative-commons-sampling: "\ecaa";
$fi-creative-commons-sampling-plus: "\ecab";
$fi-creative-commons-share: "\ecac";
$fi-creative-commons-zero: "\ecad";
$fi-credit-card: "\e9f4";
$fi-croissant: "\e9f5";
$fi-crop: "\e9f6";
$fi-crosshair: "\e9f7";
$fi-crosshair-location: "\e9f8";
$fi-crow: "\e9f9";
$fi-crutch: "\e9fa";
$fi-css3-badge-logo: "\ecae";
$fi-css3-logo: "\ecaf";
$fi-cube: "\e9fb";
$fi-d-letter-lowercase: "\ecb0";
$fi-d-letter-uppercase: "\ecb1";
$fi-database: "\e9fc";
$fi-database-arrow-down: "\e9fe";
$fi-database-arrow-up: "\e9ff";
$fi-database-eye: "\ea00";
$fi-database-minus: "\ec6c";
$fi-database-plus: "\e9fd";
$fi-database-search: "\ea01";
$fi-database-x-mark: "\ea02";
$fi-demi-boy-sign: "\ecb2";
$fi-demi-girl-sign: "\ecb3";
$fi-democrat-logo: "\ecb4";
$fi-desk: "\ea03";
$fi-deskpro-logo: "\ecb5";
$fi-dev-logo: "\ecb6";
$fi-deviantart-logo: "\ecb7";
$fi-dharmachakra-symbol: "\ecb8";
$fi-diagram-project: "\ea05";
$fi-diamond-ring: "\ecb9";
$fi-diaspora-logo: "\ecba";
$fi-dice-d20: "\ea06";
$fi-dice-five: "\ea07";
$fi-dice-four: "\ea08";
$fi-dice-one: "\ea09";
$fi-dice-six: "\ea0a";
$fi-dice-three: "\ea0b";
$fi-dice-two: "\ea0c";
$fi-digg-logo: "\ecbb";
$fi-digital-ocean-logo: "\ecbc";
$fi-direction-signs: "\ea0d";
$fi-discourse-logo: "\ecbd";
$fi-disk-drive: "\ea0e";
$fi-divide-sign: "\ecbe";
$fi-djembe-drum: "\ecbf";
$fi-dna: "\ea0f";
$fi-doc-hub-logo: "\ecc0";
$fi-dog: "\ea10";
$fi-dollar-bill: "\ea11";
$fi-dollar-sign: "\ea12";
$fi-dollar-sign-circle-slash: "\ecc1";
$fi-donut: "\ea13";
$fi-door: "\ea14";
$fi-door-dungeon: "\ea15";
$fi-door-open: "\ea16";
$fi-dove: "\ea17";
$fi-draft2digital-logo: "\ecc2";
$fi-drafting-compass: "\ecc3";
$fi-dragon-head: "\ea18";
$fi-drawing-tablet-pen: "\ecc4";
$fi-dress: "\ea19";
$fi-dribble-logo: "\ecc5";
$fi-dribble-square-logo: "\ecc6";
$fi-drop-plus-minus: "\ecc7";
$fi-drop-plus-minus-slash: "\ecc8";
$fi-dropbox-logo: "\ecc9";
$fi-droplet-a-letter: "\ea1a";
$fi-drum-sticks: "\ecca";
$fi-drumstick: "\ea1b";
$fi-drumstick-bite: "\ea1c";
$fi-drupal-logo: "\eccb";
$fi-dumbbell: "\ea1d";
$fi-dyalog-logo: "\eccc";
$fi-e-letter-lowercase: "\eccd";
$fi-e-letter-uppercase: "\ecce";
$fi-ear-deaf: "\ea1e";
$fi-earbuds: "\eccf";
$fi-earth-leaves: "\ea1f";
$fi-ebay-logo: "\ecd0";
$fi-edge-logo: "\ecd1";
$fi-egg: "\ea20";
$fi-elementor-logo: "\ecd2";
$fi-ellipsis: "\ea21";
$fi-ello-logo: "\ecd3";
$fi-embed-audio: "\ea22";
$fi-embed-document: "\ea23";
$fi-embed-image: "\ea24";
$fi-embed-text: "\ea25";
$fi-embed-video: "\ea26";
$fi-ember-logo: "\ecd4";
$fi-energy-drink: "\ea27";
$fi-envelope: "\ea28";
$fi-envelope-open: "\ea29";
$fi-envelope-open-document: "\ea2a";
$fi-epicene-sign: "\ecd5";
$fi-equals-sign: "\ecd6";
$fi-eraser: "\ea2b";
$fi-erlang-logo: "\ecd7";
$fi-ethereum-logo: "\ea2c";
$fi-ethernet-port: "\ea2d";
$fi-etsy-logo: "\ecd8";
$fi-euro-sign: "\ea2e";
$fi-evernote-logo: "\ecd9";
$fi-excavator: "\ea2f";
$fi-exclamation: "\ea30";
$fi-exclamation-circle: "\ea31";
$fi-eye: "\ea32";
$fi-eye-low-vision: "\ea34";
$fi-eye-mask: "\ecda";
$fi-eye-slash: "\ea35";
$fi-eyedropper: "\ea33";
$fi-f-letter-lowercase: "\ecdb";
$fi-f-letter-uppercase: "\ecdc";
$fi-face-angel: "\ea36";
$fi-face-angry: "\ea37";
$fi-face-clown: "\ea38";
$fi-face-confused: "\ea39";
$fi-face-cool-glasses: "\ea3a";
$fi-face-crying: "\ea3b";
$fi-face-disappointed: "\ea3c";
$fi-face-dizzy: "\ea3d";
$fi-face-dollar-eyes: "\ea3e";
$fi-face-evil: "\ea44";
$fi-face-eyes-rolling: "\ea45";
$fi-face-flushed: "\ea46";
$fi-face-happy: "\ea47";
$fi-face-heart-eyes: "\ea48";
$fi-face-kiss: "\ea49";
$fi-face-laughing: "\ea4a";
$fi-face-mask: "\ea4b";
$fi-face-nerdy: "\ea4c";
$fi-face-nervous: "\ea4d";
$fi-face-pirate: "\ea4e";
$fi-face-rofl: "\ea4f";
$fi-face-sad: "\ea50";
$fi-face-serious: "\ea51";
$fi-face-shy: "\ea52";
$fi-face-sick: "\ea53";
$fi-face-silly: "\ea54";
$fi-face-sleepy: "\ea55";
$fi-face-smiley: "\ea56";
$fi-face-star-eyes: "\ea57";
$fi-face-surprised: "\ea58";
$fi-face-suspicious: "\ea59";
$fi-face-thinking: "\ea5a";
$fi-face-tongue-out: "\ea5b";
$fi-face-wink: "\ea5c";
$fi-face-worried: "\ea5d";
$fi-face-yawning: "\ea5e";
$fi-face-zipper-mouth: "\ea5f";
$fi-facebook-logo: "\ea60";
$fi-facebook-messenger-logo: "\ecdd";
$fi-facebook-square-logo: "\ea61";
$fi-factory: "\ea62";
$fi-fast-forward: "\ea63";
$fi-fax: "\ea64";
$fi-feather: "\ea65";
$fi-feather-pointed: "\ea66";
$fi-fedora-logo: "\ecde";
$fi-female-sign: "\ecdf";
$fi-fighter-jet: "\ece0";
$fi-figma-logo: "\ece1";
$fi-file: "\ea67";
$fi-file-audio: "\ea68";
$fi-file-cabinet: "\ea69";
$fi-file-code: "\ea6a";
$fi-file-in-drawer: "\ea6b";
$fi-file-interactive: "\ea6c";
$fi-file-lines: "\ea6d";
$fi-file-lines-square: "\ea6e";
$fi-file-pdf: "\ea6f";
$fi-file-pen: "\ea70";
$fi-file-plus: "\ea71";
$fi-file-png: "\ece3";
$fi-file-question-mark: "\ea77";
$fi-file-spreadsheet: "\ea78";
$fi-file-text: "\ea79";
$fi-file-video: "\ea7a";
$fi-file-zipper: "\ea7b";
$fi-fill-drip-tool: "\ece4";
$fi-fill-tool: "\ece5";
$fi-film: "\ea7c";
$fi-film-square: "\ea7d";
$fi-filter: "\ea7e";
$fi-fingerprint: "\ece6";
$fi-first-aid-kit: "\ea7f";
$fi-fish: "\ea80";
$fi-fishbones: "\ea81";
$fi-flag: "\ea82";
$fi-flame: "\ea83";
$fi-flashlight: "\ea84";
$fi-flask: "\ea85";
$fi-flat-iron: "\ea86";
$fi-flickr-logo: "\ece7";
$fi-flip-flops: "\ea87";
$fi-flipboard-logo: "\ece8";
$fi-floppy-disk: "\ea88";
$fi-flute: "\ece9";
$fi-folder: "\ea89";
$fi-folder-minus: "\ea8a";
$fi-folder-open: "\ea8b";
$fi-folder-plus: "\ea8c";
$fi-font-icona-logo: "\ec6a";
$fi-football-ball: "\ea8d";
$fi-fork-knife: "\ecea";
$fi-fort: "\eceb";
$fi-forumbee-logo: "\ecec";
$fi-forward: "\ea8e";
$fi-foursquare-logo: "\eced";
$fi-frame-painting: "\ea8f";
$fi-free-code-camp-logo: "\ecee";
$fi-freebsd-logo: "\ecef";
$fi-frog: "\ea90";
$fi-g-letter-lowercase: "\ecf0";
$fi-g-letter-uppercase: "\ecf1";
$fi-game-console-handheld: "\ea91";
$fi-game-hangman: "\ea92";
$fi-game-snake: "\ea93";
$fi-game-tic-tac-toe: "\ea94";
$fi-gamepad: "\ea95";
$fi-gamepad-arrows: "\ea96";
$fi-gas-mask: "\ea97";
$fi-gas-station: "\ea98";
$fi-gauge-high: "\ea99";
$fi-gavel: "\ecf2";
$fi-gay-sign: "\ecf3";
$fi-gear: "\ea9a";
$fi-gear-speedometer: "\ea9b";
$fi-genderfluid-sign: "\ec5b";
$fi-genderless-sign: "\ecf5";
$fi-geometric-forms: "\ecf6";
$fi-get-pocket-logo: "\ecf7";
$fi-gg-sign: "\ea9c";
$fi-ghost: "\ea9d";
$fi-gift: "\ecf8";
$fi-git-logo: "\ecf9";
$fi-github-logo: "\ecfa";
$fi-gitlab-logo: "\ecfb";
$fi-gitter-logo: "\ecfc";
$fi-glass-martini-olive: "\ea9e";
$fi-glass-whiskey: "\ea9f";
$fi-glasses: "\eaa0";
$fi-globe: "\eaa1";
$fi-glove: "\eaa2";
$fi-gold-bar: "\eaa3";
$fi-golf-ball-tee: "\eaa4";
$fi-goodreads-logo: "\ecfd";
$fi-goodreads-square-logo: "\ecfe";
$fi-google-chrome-logo: "\ecff";
$fi-google-drive-logo: "\ed00";
$fi-google-logo: "\eaad";
$fi-google-pay-logo: "\ed01";
$fi-google-play-logo: "\ed02";
$fi-google-plus-logo: "\ed03";
$fi-gopuram: "\eaae";
$fi-graduation-cap: "\eaaf";
$fi-greater-than-equal-sign: "\ed04";
$fi-greater-than-sign: "\ed05";
$fi-grill-hot: "\eab0";
$fi-guitar-acoustic: "\ed06";
$fi-guitar-electric: "\ed07";
$fi-gulp-logo: "\ed08";
$fi-gun: "\eab1";
$fi-gym-bicycle: "\eab2";
$fi-h-letter-lowercase: "\ed09";
$fi-h-letter-uppercase: "\ed0a";
$fi-hacker-news-logo: "\ed0b";
$fi-hair-comb: "\eab3";
$fi-hair-drier: "\eab4";
$fi-hammer: "\eab5";
$fi-hamsa-symbol: "\ed0c";
$fi-hand: "\eab6";
$fi-hand-call-me-sign: "\ed0d";
$fi-hand-dots: "\eab7";
$fi-hand-finger-pressing-circles: "\ed0e";
$fi-hand-fingers-crossed: "\ed0f";
$fi-hand-fist: "\ed10";
$fi-hand-fist-back: "\ed11";
$fi-hand-fist-punch: "\ed12";
$fi-hand-holding-dollar-sign: "\eab8";
$fi-hand-holding-heart: "\eabd";
$fi-hand-middle-finger: "\ed13";
$fi-hand-mixer: "\eabe";
$fi-hand-ok-sign: "\ed14";
$fi-hand-one-finger: "\ed15";
$fi-hand-palm-back: "\ed16";
$fi-hand-palm-stop: "\ed17";
$fi-hand-pinch: "\ed18";
$fi-hand-point-up: "\ed19";
$fi-hand-rock-on: "\ed1a";
$fi-hand-thumb-up: "\ed1b";
$fi-hand-two-fingers: "\ed1c";
$fi-handbag: "\ebc1";
$fi-hands: "\eac0";
$fi-hands-arm-wrestle: "\ed1d";
$fi-hands-asl-interpreting: "\eac1";
$fi-hands-helping: "\e9c5";
$fi-handshake: "\eabf";
$fi-hanger: "\eac2";
$fi-hanukiah-symbol: "\ed1e";
$fi-hard-disk-drive: "\eac3";
$fi-harp: "\ed1f";
$fi-hat-cowboy: "\eac4";
$fi-hat-wizard: "\ed20";
$fi-heading: "\eac5";
$fi-headphones: "\eac6";
$fi-headset: "\eac7";
$fi-heart: "\eac9";
$fi-heart-lifeline: "\eac8";
$fi-helicopter: "\ed21";
$fi-helmet-football: "\eaca";
$fi-helmet-safety: "\eacb";
$fi-hermaphroditus-sign: "\ed22";
$fi-hetero-sign: "\ed23";
$fi-high-heels: "\eacd";
$fi-hippo-head: "\eace";
$fi-hips-logo: "\ed24";
$fi-hire-a-helper-logo: "\ed25";
$fi-hockey-puck: "\ead8";
$fi-hockey-skate: "\ead9";
$fi-holly-berry: "\ed26";
$fi-honey-spoon: "\eada";
$fi-honey-spoon-head: "\eadb";
$fi-honeycomb: "\ed27";
$fi-horse: "\eadc";
$fi-horse-head: "\eadd";
$fi-hospital: "\e95f";
$fi-hospital-sign: "\ebc9";
$fi-hot-coffee: "\eadf";
$fi-hot-mug: "\eae0";
$fi-hot-soup: "\eae1";
$fi-hotel: "\eae2";
$fi-hotjar-logo: "\ed28";
$fi-hourglass: "\eae3";
$fi-house: "\eae4";
$fi-house-damaged: "\eae5";
$fi-house-plus: "\eae6";
$fi-house-window: "\eae7";
$fi-houses: "\eae8";
$fi-houzz-logo: "\ed29";
$fi-hryvnia-sign: "\eae9";
$fi-html-code: "\eaea";
$fi-html5-logo: "\ed2a";
$fi-html5-shield-logo: "\ed2b";
$fi-hubspot-logo: "\ed2c";
$fi-i-letter-lowercase: "\ed2d";
$fi-i-letter-uppercase: "\ed2e";
$fi-i-pod: "\ed2f";
$fi-i-tunes-logo: "\ed30";
$fi-i-tunes-note: "\ed31";
$fi-ice-cream: "\eaeb";
$fi-icicles: "\ed32";
$fi-id-card-clip: "\eaec";
$fi-id-cards: "\eaed";
$fi-igloo: "\eaee";
$fi-illustrator-adobe-logo: "\ed33";
$fi-image: "\eaef";
$fi-image-landscape: "\eaf0";
$fi-image-slider: "\eaf1";
$fi-images: "\eaf2";
$fi-index-card: "\eaf3";
$fi-infinity-sign: "\ed35";
$fi-instagram-logo: "\eaf4";
$fi-intercom-logo: "\ed36";
$fi-intergender-sign: "\ed37";
$fi-invision-logo: "\ed38";
$fi-italic: "\eaf5";
$fi-j-letter-lowercase: "\ed39";
$fi-j-letter-uppercase: "\ed3a";
$fi-jar-jam: "\eaf6";
$fi-java-logo: "\ed3b";
$fi-javascript-logo: "\ed3c";
$fi-javascript-rectangle-logo: "\ed3d";
$fi-jedi-emblem: "\ed3e";
$fi-jira-logo: "\ed3f";
$fi-joget-logo: "\ed40";
$fi-joint: "\eaf7";
$fi-joomla-logo: "\ed41";
$fi-joystick: "\eafb";
$fi-jsfiddle-logo: "\ed42";
$fi-jump-rope: "\eafc";
$fi-k-letter-lowercase: "\ed43";
$fi-k-letter-uppercase: "\ed44";
$fi-kaaba: "\eafd";
$fi-kaggle-logo: "\ed47";
$fi-key-skeleton: "\e960";
$fi-keyboard: "\eaff";
$fi-keycdn-logo: "\ed48";
$fi-kickstarter-logo: "\e9b8";
$fi-king-chess: "\e9b5";
$fi-knife-hunting: "\eb00";
$fi-knight-chess: "\e9b6";
$fi-l-letter-lowercase: "\ed4e";
$fi-l-letter-uppercase: "\ed49";
$fi-ladder: "\eb02";
$fi-lamp-desk: "\e9e5";
$fi-language-arrows: "\eb03";
$fi-laptop: "\eb04";
$fi-laravel-logo: "\ed4a";
$fi-lasso-tool: "\ed4b";
$fi-last-fm-logo: "\ed4c";
$fi-layout: "\eb05";
$fi-leaf: "\eb06";
$fi-leanpub-logo: "\ed52";
$fi-lemon: "\ea04";
$fi-lemon-half: "\ed4f";
$fi-lesbian-sign: "\ed50";
$fi-less-logo: "\ed51";
$fi-less-than-equal-sign: "\ed5b";
$fi-less-than-sign: "\ed53";
$fi-life-ring: "\eb08";
$fi-light-bulb: "\eb01";
$fi-line-segment-tool: "\ed54";
$fi-lines: "\eb09";
$fi-link: "\eb0a";
$fi-linkedin-logo: "\eb0b";
$fi-linode-logo: "\ed55";
$fi-linux-logo: "\ed56";
$fi-lira-sign: "\eb0c";
$fi-list: "\eb0d";
$fi-list-check: "\eb0e";
$fi-list-ol: "\eb14";
$fi-list-ol-right: "\eb15";
$fi-list-view-square: "\eb16";
$fi-location-dot: "\eb17";
$fi-location-dot-on-circle: "\eb18";
$fi-lock: "\eb19";
$fi-lock-open: "\eb1a";
$fi-logo-500px: "\ed57";
$fi-lollypop: "\eb1b";
$fi-lotus-flower: "\ed58";
$fi-ltr: "\eb1c";
$fi-luggage-cart: "\ed59";
$fi-lungs: "\eb1d";
$fi-m-letter-lowercase: "\ed5d";
$fi-m-letter-uppercase: "\eb07";
$fi-magento-logo: "\ed5c";
$fi-magic-wand-dots: "\ed61";
$fi-magician-hat-wand: "\ed5e";
$fi-magnet: "\ed5f";
$fi-male-sign: "\ed60";
$fi-map: "\eb1e";
$fi-map-location-dot: "\eb1f";
$fi-maracas: "\ed62";
$fi-marijuana-leaf: "\eb20";
$fi-markdown-logo: "\ed69";
$fi-marker: "\eb21";
$fi-marshmallows-stick: "\eb22";
$fi-martini-glass-citrus: "\eb23";
$fi-mastodon-logo: "\ed63";
$fi-match-burning: "\eb24";
$fi-mausoleum: "\e987";
$fi-max-cdn-logo: "\ed64";
$fi-measuring-tape: "\eb25";
$fi-medal: "\eb27";
$fi-media: "\eb10";
$fi-medical-thermometer: "\eb28";
$fi-medium-logo: "\ed65";
$fi-meetup-logo: "\ed66";
$fi-megaport-logo: "\ed67";
$fi-memory-stick: "\eb29";
$fi-men-at-work: "\eb2a";
$fi-mendeley-logo: "\ed68";
$fi-mesh-tool: "\ed6a";
$fi-message-captions: "\e9e1";
$fi-message-dots: "\eb2b";
$fi-message-lines: "\eb2c";
$fi-message-plus: "\e9e3";
$fi-message-star: "\ec76";
$fi-message-x-mark: "\eade";
$fi-messages-lines: "\eb2f";
$fi-meteor: "\eb26";
$fi-metronome: "\eb2d";
$fi-microchip: "\eb33";
$fi-microphone-lines: "\eb2e";
$fi-microphone-wire: "\ed6c";
$fi-microphone-wireless: "\eb32";
$fi-microphone-wireless-slash: "\eb30";
$fi-microscope: "\eb36";
$fi-microwave: "\eb31";
$fi-minus: "\eb34";
$fi-mitten: "\ed6d";
$fi-mix-logo: "\ed6e";
$fi-mobile: "\eb35";
$fi-modx-logo: "\ed6f";
$fi-monero-logo: "\ed70";
$fi-monitor-desktop: "\eafa";
$fi-monitor-eye: "\eb37";
$fi-monitor-lifeline: "\eb3f";
$fi-monument: "\ed71";
$fi-moon: "\ed72";
$fi-mortar-pestle: "\eb38";
$fi-mosque: "\eb39";
$fi-motorcycle: "\eb3a";
$fi-mountains-with-flag: "\eb3b";
$fi-muffin: "\eb3c";
$fi-music-note: "\ed74";
$fi-n-letter-lowercase: "\eb55";
$fi-n-letter-uppercase: "\ed75";
$fi-nail: "\eb3d";
$fi-network-circles: "\eb3e";
$fi-network-wired-circles: "\eb46";
$fi-neutrois-sign: "\eb87";
$fi-nine-pointed-star: "\ed77";
$fi-no-smoking-sign: "\ebca";
$fi-nodejs-logo: "\ed78";
$fi-non-binary-sign: "\ed79";
$fi-noose: "\eb40";
$fi-not-equal-sign: "\ed7a";
$fi-note: "\eb41";
$fi-note-thumbtack: "\eb42";
$fi-notepad-scribbled: "\ed7b";
$fi-npm-logo: "\ed7c";
$fi-number-eight: "\ed7d";
$fi-number-five: "\ed7e";
$fi-number-four: "\ed7f";
$fi-number-nine: "\ed80";
$fi-number-one: "\ed81";
$fi-number-seven: "\ed82";
$fi-number-six: "\ed83";
$fi-number-three: "\ed84";
$fi-number-two: "\ed85";
$fi-number-zero: "\ed86";
$fi-nutritionix-logo: "\ed87";
$fi-o-letter-lowercase: "\ed88";
$fi-o-letter-uppercase: "\ed89";
$fi-object-3d: "\ed8a";
$fi-object-align-center: "\e9dd";
$fi-object-align-left: "\eb44";
$fi-object-align-right: "\e910";
$fi-object-contract: "\eb43";
$fi-object-expand: "\eb45";
$fi-object-group: "\ed8b";
$fi-object-ungroup: "\ed8c";
$fi-odnoklassniki-logo: "\ed8d";
$fi-oil-can-drip: "\eb48";
$fi-om-symbol: "\ed8e";
$fi-omega: "\eb47";
$fi-open-folder-with-documents: "\eb4a";
$fi-opencart-logo: "\ed8f";
$fi-openid-logo: "\ed90";
$fi-opera-logo: "\ed91";
$fi-option-select-checkmark-x-mark: "\eb49";
$fi-osi-logo: "\ed92";
$fi-oven: "\eb4c";
$fi-p-letter-lowercase: "\ed93";
$fi-p-letter-uppercase: "\ed94";
$fi-page: "\eb4b";
$fi-page-lines: "\eb56";
$fi-page-pen: "\eb4d";
$fi-pagelines-logo: "\ed95";
$fi-pager: "\eb4e";
$fi-paint-roller: "\eb4f";
$fi-paintbrush: "\eb50";
$fi-palette: "\eb51";
$fi-pallet: "\ed96";
$fi-pan-frying: "\eb52";
$fi-pangender-sign: "\ed97";
$fi-pants: "\eb53";
$fi-paperclip: "\eb54";
$fi-parachute-box: "\eb58";
$fi-paragraph: "\eba3";
$fi-paragraph-left: "\eb57";
$fi-parking-sign: "\ed98";
$fi-passport: "\ed99";
$fi-password-lock: "\eb5a";
$fi-pastafarianism-symbol: "\ed9a";
$fi-patreon-logo: "\ed9b";
$fi-pause: "\eb59";
$fi-paw: "\eb5f";
$fi-pawn-chess: "\e9b7";
$fi-paypal-p-logo: "\ed9c";
$fi-pc-unit: "\eb5b";
$fi-peace-symbol: "\ed9d";
$fi-pen: "\eb5c";
$fi-pen-clip: "\eb5d";
$fi-pen-fancy: "\eb5e";
$fi-pen-lines: "\eb63";
$fi-pen-nib: "\eb60";
$fi-pencil: "\eb61";
$fi-pepper-hot: "\eb62";
$fi-percent-sign: "\eb68";
$fi-perfusion: "\eb64";
$fi-person-booth: "\ed9e";
$fi-person-hiking: "\eb65";
$fi-person-praying: "\ed9f";
$fi-person-walking-with-cane: "\eb66";
$fi-phone: "\eb67";
$fi-phone-volume: "\eb69";
$fi-php-logo: "\eda0";
$fi-piano-keys: "\eda5";
$fi-pick-hammer: "\ebad";
$fi-piggy-bank: "\eb6a";
$fi-pills: "\eb6b";
$fi-pin-on-map: "\eb6c";
$fi-pinata: "\eb6d";
$fi-pinterest-logo: "\eb6e";
$fi-pipe: "\eb6f";
$fi-pizza-slice: "\eb70";
$fi-plane-arrival: "\eda2";
$fi-plane-departure: "\eda3";
$fi-plane-up: "\eb71";
$fi-plant-pot: "\eb72";
$fi-play: "\eb73";
$fi-playstation-buttons: "\eb74";
$fi-plug: "\eb75";
$fi-plug-checkmark: "\eb76";
$fi-plug-wire: "\eda4";
$fi-plus: "\eb77";
$fi-podcast: "\eb78";
$fi-podio-logo: "\eb79";
$fi-polar-grid: "\edab";
$fi-polygon-circles: "\eda6";
$fi-pool-8-ball: "\e940";
$fi-poop: "\eb7a";
$fi-pot: "\eb7b";
$fi-power-drill: "\eb7c";
$fi-power-off: "\eb7d";
$fi-prescription: "\ea76";
$fi-prescription-sign: "\eb7e";
$fi-pretzel: "\eb7f";
$fi-printer: "\eb80";
$fi-product-hunt-logo: "\eda7";
$fi-propeller: "\eb81";
$fi-pull-left: "\eb82";
$fi-pull-right: "\eb83";
$fi-puppy-toy: "\eb84";
$fi-pushed-logo: "\eda8";
$fi-puzzle-piece: "\eb85";
$fi-python-logo: "\eda9";
$fi-q-letter-lowercase: "\edaa";
$fi-q-letter-uppercase: "\edae";
$fi-qrcode: "\eb86";
$fi-queen-chess: "\eafe";
$fi-question-circle: "\ebae";
$fi-quora-logo: "\edac";
$fi-quote-left: "\eb88";
$fi-quote-right: "\eb89";
$fi-quran-book: "\edad";
$fi-r-letter-lowercase: "\edb2";
$fi-r-letter-uppercase: "\edaf";
$fi-r-project-logo: "\edb0";
$fi-radiation: "\eb8a";
$fi-radiator: "\eb8b";
$fi-radio: "\edb1";
$fi-rainbow: "\edb8";
$fi-raspberry-pi-logo: "\edb3";
$fi-ravelry-logo: "\edb4";
$fi-reactjs-logo: "\edb5";
$fi-readme-logo: "\edb6";
$fi-rebel-star-wars: "\edb7";
$fi-record-vinyl: "\edbe";
$fi-record-vinyl-in-case: "\eb8c";
$fi-rectangle-gear: "\ebaa";
$fi-rectangle-rounded: "\eb8d";
$fi-rectangles-with-lines: "\eb8e";
$fi-reddit-alien: "\eb8f";
$fi-redhat-logo: "\edb9";
$fi-refrigerator: "\eb90";
$fi-registered-sign: "\eb91";
$fi-remote-control: "\eb92";
$fi-republican-logo: "\edba";
$fi-restroom-man-female-sign: "\edbb";
$fi-ribbon: "\eb93";
$fi-ring-pearl: "\edbc";
$fi-road: "\eb94";
$fi-rocket: "\edbd";
$fi-rocketchat-logo: "\edc1";
$fi-rook-chess: "\e9b9";
$fi-rotate: "\eb95";
$fi-rotate-circle: "\eb96";
$fi-rotate-left: "\eb97";
$fi-rotate-right: "\eb98";
$fi-route: "\eb99";
$fi-router: "\eb9a";
$fi-rss: "\eb9b";
$fi-ruble-sign: "\eb9c";
$fi-ruby-heart: "\eb9d";
$fi-ruler-horizontal: "\edbf";
$fi-ruler-vertical: "\edc0";
$fi-running: "\eb9e";
$fi-rupee-sign: "\eb9f";
$fi-s-letter-lowercase: "\edc3";
$fi-s-letter-uppercase: "\edc2";
$fi-safari-logo: "\edc6";
$fi-salesforce-logo: "\edc4";
$fi-sass-logo: "\edc5";
$fi-satellite: "\eba0";
$fi-satellite-dish: "\eba1";
$fi-sausage: "\eba2";
$fi-saw: "\eba5";
$fi-saxophone: "\ebaf";
$fi-scale-balance-left: "\eba4";
$fi-scale-balance-right: "\eba8";
$fi-scale-balanced: "\eba6";
$fi-scale-electronic: "\eba7";
$fi-school: "\ebac";
$fi-scissors: "\eba9";
$fi-screw: "\ebab";
$fi-screwdriver: "\ebb9";
$fi-scribd-logo: "\edc7";
$fi-sd-card: "\e95b";
$fi-search: "\ebb1";
$fi-search-chart-bars: "\ebb2";
$fi-search-minus: "\edc8";
$fi-search-plus: "\edc9";
$fi-seedling: "\ebb3";
$fi-select-all-tool: "\edca";
$fi-select-tool: "\edcb";
$fi-sellsy-logo: "\edcc";
$fi-separate-objects: "\ebb4";
$fi-server-arrow-rotate-left: "\ebb5";
$fi-servicestack-logo: "\edcd";
$fi-share: "\edce";
$fi-share-nodes: "\ebb6";
$fi-shekel-sign: "\ebb7";
$fi-shield: "\ebb8";
$fi-shield-cross: "\ebc4";
$fi-shield-keyhole: "\ebbb";
$fi-shield-star: "\ebba";
$fi-ship: "\edcf";
$fi-shirt: "\ebbc";
$fi-shoe: "\ebbd";
$fi-shoeprints: "\ebbe";
$fi-shop: "\ebbf";
$fi-shop-door-window: "\ebc0";
$fi-shopping-bag: "\edd0";
$fi-shopping-basket: "\edd1";
$fi-shopware-logo: "\edd2";
$fi-shortcode: "\ebc2";
$fi-shovel: "\ebc3";
$fi-shower-head: "\ebc6";
$fi-shuffle: "\ebc5";
$fi-shuttlecock: "\ebd7";
$fi-sidebar: "\ebc7";
$fi-sidebar-right: "\ebc8";
$fi-sign-in: "\edd3";
$fi-sign-out: "\edd4";
$fi-signal-stream: "\ebd1";
$fi-sim-card: "\ebd2";
$fi-sitemap: "\ebd8";
$fi-sith-star-wars: "\edd5";
$fi-sketch-logo: "\edd6";
$fi-skiing: "\ebd9";
$fi-skirt: "\ebe0";
$fi-skull: "\ebb0";
$fi-skull-crossbones: "\ebdc";
$fi-skyatlas-logo: "\edd7";
$fi-skype-logo: "\edd8";
$fi-slack-logo: "\edd9";
$fi-sleigh: "\edda";
$fi-slice-tool: "\eddb";
$fi-sliders-up: "\ebdd";
$fi-slideshare-logo: "\eddc";
$fi-snapchat-logo: "\eddd";
$fi-sneaker-high-top: "\ebde";
$fi-sneaker-low-top: "\ebdf";
$fi-snooze: "\ebe3";
$fi-snowflake: "\edde";
$fi-snowman-top-hat: "\eddf";
$fi-snowplow: "\ede0";
$fi-soccer-ball: "\ebe1";
$fi-socks: "\ebe2";
$fi-sol-key: "\ede1";
$fi-solar-panel: "\ebe7";
$fi-solid-state-drive: "\ebe4";
$fi-sound-wave: "\ecf4";
$fi-sourcetree-logo: "\ede3";
$fi-space-shuttle: "\ede4";
$fi-speakap-logo: "\ede5";
$fi-speaker: "\ebe5";
$fi-speakerdeck-logo: "\ede6";
$fi-spell-check: "\ebe6";
$fi-spider: "\ebe9";
$fi-spine: "\ebe8";
$fi-spinner-circles: "\ede7";
$fi-spiral: "\ede8";
$fi-splotch: "\ede9";
$fi-spotify-logo: "\ebf1";
$fi-spray-bottle: "\ebea";
$fi-spray-can-dots: "\edea";
$fi-square-info: "\ebeb";
$fi-square-root-sign: "\edeb";
$fi-square-ruler: "\ebec";
$fi-square-wave: "\ebed";
$fi-squares: "\edec";
$fi-squarespace-logo: "\eded";
$fi-stack-exchange-logo: "\edee";
$fi-stack-overflow-logo: "\edef";
$fi-stackpath-logo: "\edf0";
$fi-stamp-tool: "\edf1";
$fi-star: "\ebee";
$fi-star-and-crescent: "\edf2";
$fi-star-of-david: "\edf3";
$fi-star-of-life: "\ebef";
$fi-staylinked-logo: "\edf4";
$fi-steak: "\ebf0";
$fi-steam-logo: "\ebf5";
$fi-steering-wheel: "\ebf2";
$fi-stethoscope: "\ebf3";
$fi-strava-logo: "\edf5";
$fi-street-view: "\edf6";
$fi-strikethrough: "\ebf4";
$fi-stripe-logo: "\edf7";
$fi-stripe-s-logo: "\edf8";
$fi-stroopwafel: "\edf9";
$fi-stumbleupon-logo: "\edfa";
$fi-subscript-sign: "\edfb";
$fi-sugar-cane: "\ec0c";
$fi-suitcase: "\ebf6";
$fi-suitcase-travel: "\edfc";
$fi-sun-bright: "\ebf7";
$fi-superscript-sign: "\edfd";
$fi-suse-logo: "\edfe";
$fi-swatch-book: "\edff";
$fi-swift-logo: "\ee00";
$fi-swimming: "\ebf8";
$fi-swimming-pool: "\ee01";
$fi-swiss-franc-sign: "\ebf9";
$fi-symfony-logo: "\ee02";
$fi-synagogue: "\ebd6";
$fi-syringe: "\ebdb";
$fi-t-letter-lowercase: "\ee03";
$fi-t-letter-uppercase: "\ee04";
$fi-t-shirt: "\ebfa";
$fi-table: "\ebfb";
$fi-table-delete-column: "\ebfc";
$fi-table-delete-row: "\ebfd";
$fi-table-furniture: "\ebfe";
$fi-table-plus-after-column: "\ebff";
$fi-table-plus-after-row: "\ec00";
$fi-table-plus-before-column: "\ec01";
$fi-table-plus-before-row: "\ec02";
$fi-table-tennis-paddle-ball: "\ec03";
$fi-tablet: "\ec04";
$fi-tachometer: "\ec05";
$fi-tag: "\ec06";
$fi-tags: "\ec07";
$fi-tank-top: "\ec08";
$fi-teeth: "\ec09";
$fi-telegram-logo: "\ee05";
$fi-temperature-list: "\ec0a";
$fi-tencent-qq-logo: "\ee06";
$fi-tencent-weibo-logo: "\ee07";
$fi-tenge-sign: "\ec0b";
$fi-tennis-ball: "\ec17";
$fi-tent: "\ec0d";
$fi-terminal-square: "\ec0e";
$fi-third-gender-sign: "\ee08";
$fi-thought-bubble-dots: "\ec0f";
$fi-thumbs-down: "\ec10";
$fi-thumbs-up: "\ec11";
$fi-thumbtack: "\ec12";
$fi-ticket: "\ec14";
$fi-ticket-airplane: "\ec13";
$fi-ticket-dashed-line: "\ec15";
$fi-ticket-star: "\ec16";
$fi-tide-logo-wp: "\ec20";
$fi-toggle-off: "\ee09";
$fi-toggle-on: "\ee0a";
$fi-toilet: "\ec18";
$fi-toilet-paper: "\ec19";
$fi-tooth: "\ec1a";
$fi-toothbrush: "\e981";
$fi-torah-scroll: "\ee0b";
$fi-torii-gate: "\ec1b";
$fi-torso-female: "\ec1c";
$fi-torso-male: "\ec1d";
$fi-tower-pisa: "\ec1e";
$fi-tracking-wp: "\ec1f";
$fi-tractor: "\ec23";
$fi-trademark-sign: "\ec21";
$fi-traffic-light: "\ee0c";
$fi-trailer: "\ec22";
$fi-train: "\ee0d";
$fi-transgender-sign: "\ee0e";
$fi-trash-can: "\ec24";
$fi-travesty-sign: "\ee0f";
$fi-treadmill: "\ec25";
$fi-treasure-chest-open: "\ec2a";
$fi-tree: "\ec26";
$fi-tree-palm: "\ec27";
$fi-trello-logo: "\ee10";
$fi-triangle-exclamation: "\ec28";
$fi-tripadvisor-logo: "\ee11";
$fi-trophy: "\ec36";
$fi-truck: "\ebda";
$fi-truck-monster: "\ec2b";
$fi-truck-pickup: "\ec2c";
$fi-trumpet: "\ee12";
$fi-tty: "\ec2d";
$fi-tumblr-logo: "\ee13";
$fi-tumblr-square-logo: "\ee14";
$fi-turkish-lira-sign: "\ec2e";
$fi-turn-right-sign: "\ee15";
$fi-turntable: "\ee16";
$fi-twitch-logo: "\ec2f";
$fi-twitter-logo: "\ec30";
$fi-typo3-logo: "\ee17";
$fi-u-letter-lowercase: "\ee18";
$fi-u-letter-uppercase: "\ee19";
$fi-uber-logo: "\ee1a";
$fi-ubuntu-logo: "\ee1b";
$fi-uikit-logo: "\ee1c";
$fi-umbraco-logo: "\ee1d";
$fi-umbrella: "\ec40";
$fi-umbrella-beach: "\ec29";
$fi-underline: "\ec32";
$fi-underwear: "\ec33";
$fi-uniform-martial-arts: "\ec34";
$fi-universal-access: "\ec35";
$fi-unlink: "\ec42";
$fi-ups-logo: "\ee1f";
$fi-user: "\ec37";
$fi-user-checkmark: "\ee20";
$fi-user-child: "\ee21";
$fi-user-clock: "\ee22";
$fi-user-clock-head: "\ec38";
$fi-user-cog: "\ee23";
$fi-user-doctor: "\ec39";
$fi-user-edit: "\ee24";
$fi-user-graduate: "\ee25";
$fi-user-heart: "\ec3a";
$fi-user-incognito: "\ec3d";
$fi-user-injured: "\ee26";
$fi-user-lock: "\ee27";
$fi-user-mask: "\ec3e";
$fi-user-minus: "\ee28";
$fi-user-ninja: "\ee29";
$fi-user-nurse: "\ec3f";
$fi-user-patient: "\ec44";
$fi-user-plus: "\ee2a";
$fi-user-shield: "\ee2b";
$fi-user-slash: "\ee2c";
$fi-user-tag: "\ee2d";
$fi-user-tie: "\ee2e";
$fi-user-tie-hair: "\ec49";
$fi-user-tie-hair-long: "\ec43";
$fi-user-tie-pocket: "\ec41";
$fi-user-x-mark: "\ee2f";
$fi-users: "\ec4d";
$fi-users-moving-box: "\ee30";
$fi-users-two: "\ee31";
$fi-v-letter-lowercase: "\ee33";
$fi-v-letter-uppercase: "\ec31";
$fi-vacuum: "\ec45";
$fi-van-shuttle: "\ec46";
$fi-vault-door: "\ec47";
$fi-vector-square: "\ee34";
$fi-vest: "\ec48";
$fi-vhmcs-logo: "\ee35";
$fi-viacoin-logo: "\ee36";
$fi-viadeo-logo: "\ee37";
$fi-viber-logo: "\ee38";
$fi-video: "\ec56";
$fi-video-playlist: "\ec4a";
$fi-vihara: "\ec5a";
$fi-vimeo-logo: "\ec4b";
$fi-vitamins: "\ec4c";
$fi-vk-logo: "\ee3a";
$fi-volleyball: "\ec5e";
$fi-volume: "\ec4e";
$fi-volume-high: "\ec4f";
$fi-volume-low: "\ec50";
$fi-volume-off: "\ec51";
$fi-volume-x-mark: "\ec52";
$fi-voting: "\ee3b";
$fi-vr-headset: "\ec53";
$fi-vuejs-logo: "\ee3c";
$fi-w-letter-lowercase: "\ee3d";
$fi-w-letter-uppercase: "\ee3e";
$fi-wall-mirror: "\ec54";
$fi-wallet: "\ec55";
$fi-warehouse: "\ec66";
$fi-washing-machine: "\ec57";
$fi-watch-heart: "\ec58";
$fi-water-bottle: "\ec59";
$fi-water-waves: "\ece2";
$fi-waveform-lines: "\ec5c";
$fi-waveform-lines-list: "\ec5d";
$fi-waze-logo: "\ee3f";
$fi-wechat-logo: "\ee40";
$fi-weebly-logo: "\ee41";
$fi-weibo-logo: "\ee42";
$fi-whatsapp-logo: "\ee43";
$fi-wheelbarrow: "\ed34";
$fi-wheelchair: "\ec5f";
$fi-wi-fi: "\ec60";
$fi-wikipedia-logo: "\ee44";
$fi-wind: "\ec61";
$fi-windows-10-logo: "\ee45";
$fi-windows-11-logo: "\ee46";
$fi-wine-glass: "\ec62";
$fi-wine-glasses-cheers: "\ec63";
$fi-winner-podium: "\ec64";
$fi-wix-logo: "\ee47";
$fi-won-sign: "\ec65";
$fi-wordpress-circle-logo: "\ec67";
$fi-wordpress-logo: "\ed6b";
$fi-world-key: "\ec68";
$fi-wpbeginner-logo: "\ee48";
$fi-wpexplorer-logo: "\ee49";
$fi-wpforms-logo: "\ee4a";
$fi-wrench: "\ec69";
$fi-x-box-logo: "\ed76";
$fi-x-letter-lowercase: "\ee4b";
$fi-x-letter-uppercase: "\e95c";
$fi-x-mark: "\ec6e";
$fi-x-ray: "\ec6b";
$fi-xing-logo: "\ec6d";
$fi-xylophone: "\ee4d";
$fi-y-letter-lowercase: "\ee4e";
$fi-y-letter-uppercase: "\ee4f";
$fi-yahoo-logo: "\ee50";
$fi-yammer-logo: "\ee51";
$fi-yelp-logo: "\ee52";
$fi-yen-sign: "\ec6f";
$fi-yin-yang-symbol: "\ee53";
$fi-youtube-logo: "\ec70";
$fi-yuan-sign: "\ec71";
$fi-z-letter-lowercase: "\ee54";
$fi-z-letter-uppercase: "\ee55";

